<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <section *ngIf="fotoService.fotoProfil.length > 0">
          <ion-img [src]="fotoService.fotoProfil[0].webviewPath"></ion-img>
        </section>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>
            <h3>Nama</h3>
            <h1>Welly Susanto</h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Pekerjaan</h3>
            <h2>Mahasiswa</h2>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Cita-cita</h3>
            <h2>Game Company CEO</h2>
            <h2>Game Developer</h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="GantiFotoProfil()">
    <ion-icon name="camera"></ion-icon>
      Ganti Foto Profile
  </ion-button>
  <hr>
  <ion-item>
    <ion-label>
      <h1>Game Tebak Angka (0-9)</h1>
    </ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label>Angka Tebakan</ion-label>
        <ion-input placeholder="0-9" type="number" min="0" max="9" [(ngModel)]="angkaTebak"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" (click)="TebakAngka()">
        Tebak Angka
      </ion-button>
    </ion-col>
  </ion-row>
  <br>
  <section *ngIf="statusTebakan">
    <ion-label>
      <h1>Congrats, You Win!</h1>
      <h2 style="color:limegreen;">{{stringTebakan}}</h2>
    </ion-label>
    <section *ngIf="fotoService.fotoProfil.length > 0">
      <ion-img [src]="fotoService.fotoProfil[0].webviewPath"></ion-img>
    </section>
  </section>
  <section *ngIf="!statusTebakan">
    <ion-label>
      <h2 style="color:red;">{{stringTebakan}}</h2>
    </ion-label>
  </section>
</ion-content>
